*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}

:root{
    --colour1: #EAD2AC;
    --colour2: #966234;
    --colour3: #FEEFDD;
    --colour4: #55828B;
    --colour5: #272727;

    --margin1: 0.5rem;
    --margin2: 1rem;
    --margin3: 2rem;
}

body{
    color: white;
    font-family: 'Tahoma', 'Helvetica';
}

header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    float: right;
    right: 1vw;
    top: 2vh;
}

header li{
    padding: 0px 50px 0px 0px;
    display: inline-block;
}

header a{
    color: black;
}

.smooth-link{
    text-decoration: none;
}

