.full-span-card{
    margin: 10px 50px 0px 50px;
    background-color: rgb(53, 53, 53);
    border-radius: 10px;
}

.full-span-card h1{
    margin: 0;
    padding: 10px 0px 20px 20px;
}

.full-span-card p{
    margin: 0;
    padding: 20px 0px 20px 20px;
}

.grid-span-card{
    margin: 0px 20px 0px 20px;
    background-color: rgb(77, 77, 77);
    border-radius: 10px;
    text-align: center;
}

.grid-span-card h2{
    margin: 0;
    padding: 10px 0px 10px 20px;
}

.grid-span-card p{
    margin: 0;
    padding: 10px 0px 20px 20px;
}

.half-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}