body{
    margin: 0;
    background-color: rgb(37, 37, 37);
    color: white;
    font-family: 'Tahoma', 'Helvetica';
}

header{
    background-color: rgb(53, 53, 53);
}

.header-bar ul{
    margin: 0;
    padding: 10px;
}

header li{
    display: inline-block;
    padding: 0px 50px 0px 0px;
}

footer{
    background-color: rgb(53, 53, 53);
}

.opening-hook{
    text-align: center;
}

.opening-hook h2{
    position: relative;
    height: 300px;
    top: 150px;
}

.opening-hook img{
    width:300px;
    height: 300px;
    margin: 50px 0px 100px 0px;
}

.opening-hook .small-button-wrapper{
    margin-bottom: 100px;
}

.opening-hook button{
    padding: 10px 30px 10px 30px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(122, 67, 0);
    color: white;
}

.full-span-card{
    margin: 10px 50px 0px 50px;
    background-color: rgb(53, 53, 53);
    border-radius: 20px;
}

.full-span-card h1{
    margin: 0;
    padding: 10px 0px 20px 20px;
}

.full-span-card p{
    margin: 0;
    padding: 20px 0px 20px 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.grid-span-card{
    margin: 0px 20px 0px 20px;
    background-color: rgb(77, 77, 77);
    border-radius: 20px;
    text-align: center;
}

.grid-span-card h2{
    margin: 0;
    padding: 10px 0px 10px 20px;
}

.grid-span-card p{
    margin: 0;
    padding: 10px 0px 20px 20px;
}
