.opening-hook{
    text-align: center;
}

.opening-hook h2{
    position: relative;
    height: 300px;
    top: 150px;
}

.opening-hook img{
    width:300px;
    height: 300px;
    margin: 50px 0px 100px 0px;
}

.opening-hook .small-button-wrapper{
    margin-bottom: 100px;
}

.opening-hook button{
    padding: 10px 30px 10px 30px;
    border: 0;
    border-radius: 10px;
    background-color: rgb(122, 67, 0);
    color: white;
}


.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}