*{
    margin: 0;
    padding: 0;
}

:root{
    --font-stack: 'Calibri';

    --text-size1: 5px;
    --text-size2: 10px;
    --text-size3: 15px;

    --colour1: rgb(0, 0, 0);
    --colour2: rgb(255, 162, 0);
    --colour3: rgb(0, 72, 255);

    --margin1: 4px;
    --margin2: 8px;
    --margin3: 16px;
    --margin4: 64px;
}

h1{
    color: var(--colour1);
    font-family: var(--font-stack);
    font-weight: bold;
    font-size: var(--text-size3);
}

h2{
    color: var(--colour1);
    font-family: var(--font-stack);
    font-weight: bold;
    font-size: var(--text-size2);
}

p{
    color: var(--colour1);
    font-family: var(--font-stack);
    font-size: var(--text-size1);
}

.flex-container{
    display: flex;
    flex: 1 0 auto;
}

.flex-reverse{
    flex-direction: row-reverse;
}

.no-decor-list{
    list-style-type: none;
    overflow: hidden;
}

.smooth-link{
    text-decoration: none;
}